.Cover
{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#CoverMen
{
    margin-top: 3rem;
    font-family: Nunito;

}
#ShopNow
{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(250, 250, 250, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba(0, 0, 0, 0.18);
    padding: 0.5rem;
    font-family: Nunito;
    z-index: 1;
    text-decoration: none;
    color: #1D1D20;
    margin-top: -50%;
    width: 30%;
}
#ShopNow:hover
{
    background: rgba(59, 59, 59, 0.25);
    text-decoration: none;
    color: white;
}
